h1{
	text-align:center;

}

body{
	background: white;
}

p{
	text-align: center;
	font-size: 1.2em;
	color: #7F7A7F;

}



blockquote{
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
}



h6{
	text-align: center;
}

iframe{
	width: 200px; 
	height:300px;
}


h2{
	text-align: center;
	font-size: 1.2em;
	color: #252586;
}



img{
	width:720px;
    height:480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

#redondo{
	border-radius: 30px;
}


.progressText{
	/*vertical-align: bottom;*/
	position: relative;
	text-align: center;
	top: 52%;
	margin-top: 52px;
	margin-left:-52px;
}

.progress{
	width: 270px;
	height: 200px;
	position: relative;
	text-align: center;
	margin-top: 15px;

	/*margin: auto;*/
}


#papas2{
	width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}



.problema{
	text-align: center;
	padding-top: 50px;
}


.problema{
	text-align: center;
	padding-top: 75px;
}

.top-bar{
	background: #252586;
}

.top-bar .right{
	background: #a52a00;
}


.top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #a52a00;

}

#myModal{
	text-align: center;
}


.dropdown{
  background: #a52a00;	
}

#link{
	color: #252586;
}

